*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    background-color: #000;
}

.categorias{
    width: 100vw;
    height: 80vh;
}

.categoria{
    height: 40%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 3px solid white;
}

.categoria__datos{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.categoria__nombre{
    margin-bottom: 20px;
    font-size: 45px;
}

.categoria__img{
    width: 100%;
    position: absolute;
    opacity: 0.3;
    transition: 0.3s ease;
}

.categoria:hover img{
    cursor: pointer;
    opacity: 0.7;
}

[data-categoria="america"]{
    background-color: lightgray;
}

[data-categoria="europa"]{
    background-color: lightseagreen;
}

[data-categoria="africa"]{
    background-color: lightcoral;
}

[data-categoria="asia"]{
    background-color: lightyellow;
}

[data-categoria="oceania"]{
    background-color: lightseagreen;
}

[data-categoria="antartida"]{
    background-color: lightsteelblue;
}