@import url('https://fonts.cdnfonts.com/css/modern-age');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Modern Age', sans-serif;
}

.header-nombre{
    margin: 20px;
    position: fixed;
    color: #1e1e1e;
    z-index: 2;
    font-size: 10px;
}

.categorias{
    width: 100vw;
    height: 100vh;
}

.categoria{
    height: 40%;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 3px solid #1e1e1e;
}

.categoria__datos{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.categoria__nombre{
    margin-bottom: 20px;
    font-size: 45px;
}

.categoria__imagen{
    width: 100%;
    position: absolute;
    opacity: 0.3;
    transition: 0.3s ease;
}

.categoria:hover img{
    cursor: pointer;
    opacity: 0.7;
}

[data-categoria="america"]{
    background-color: lightgray;
}

[data-categoria="europa"]{
    background-color: lightseagreen;
}

[data-categoria="africa"]{
    background-color: lightcoral;
}

[data-categoria="asia"]{
    background-color: lightyellow;
}

[data-categoria="oceania"]{
    background-color: lightseagreen;
}

[data-categoria="antartida"]{
    background-color: lightsteelblue;
}